
<div class="banner">
		<h2><a routerLink="/offsite"><mat-icon class="icon">arrow_back</mat-icon></a>Results</h2>
</div>
<div class="step">
	<p>Showing appointments at Ashe Center from <strong>12/9</strong> to <strong>12/15</strong></p>
</div>
<div class="results">
	<mat-accordion>
		<mat-expansion-panel>
			<mat-expansion-panel-header>
				<mat-panel-title>
					Wednesday, 12/12/18
				</mat-panel-title>
			</mat-expansion-panel-header>
			<mat-radio-group>
				<mat-radio-button value="9:30">9:30 AM</mat-radio-button><br />
				<mat-radio-button value="13:00">1:00 PM</mat-radio-button><br />
				<mat-radio-button value="15:30">3:30 PM</mat-radio-button><br />
			</mat-radio-group>
		</mat-expansion-panel>
		<mat-expansion-panel>
			<mat-expansion-panel-header>
				<mat-panel-title>
					Thursday, 12/13/18
				</mat-panel-title>
			</mat-expansion-panel-header>
			<mat-radio-group>
				<mat-radio-button value="10:00">10:00 AM</mat-radio-button><br />
				<mat-radio-button value="10:30">10:30 AM</mat-radio-button><br />
				<mat-radio-button value="11:00">11:00 AM</mat-radio-button><br />
				<mat-radio-button value="11:30">11:30 AM</mat-radio-button><br />
				<mat-radio-button value="12:30">12:30 PM</mat-radio-button><br />
			</mat-radio-group>
		</mat-expansion-panel>
		<mat-expansion-panel>
			<mat-expansion-panel-header>
				<mat-panel-title>
					Friday, 12/14/18
				</mat-panel-title>
			</mat-expansion-panel-header>
			<mat-radio-group>
				<mat-radio-button value="13:30">1:30 PM</mat-radio-button><br />
				<mat-radio-button value="14:00">2:00 PM</mat-radio-button><br />
			</mat-radio-group>
		</mat-expansion-panel>
	</mat-accordion>
</div>
