<p>
  There are no avaliable appointments <br>
  Would you like to look for off-site providers that are part of UCSHIP?
</p>
  <label>
    <input type="radio" name="return" value="soon" (click)="yes()"> Yes. I understand that I will need to get a referral from Ashe in order to cover the costs<br>
    </label>
    <a [href]="'https://www.google.com/'"
      appExternalUrl>How do I get a referral?</a><br>
  <label>
    <input type="radio" name="return" value="soon" (click)="no()"> No <br>
  </label>

<button routerLink={{router}} [disabled]="disabled">Submit</button>
