
<div class="banner">
		<h2><a routerLink="/step2"><mat-icon class="icon">arrow_back</mat-icon></a>Book an appointment</h2>
</div>
<div class="step">
	<h2>There are no available appointments before {{message | date: "mediumDate"}}</h2>
	<h2 class="lower">Would you like to look for off-site providers that are part of UCSHIP?</h2>
</div>
<div class="appointment-options">
	<mat-radio-group>
		<mat-radio-button value="yes" class="button"  (click)="yes()">Yes. I understand that I will need to <br>get a referral from Ashe in order to <br>cover the costs<br>
			<a [href]="'http://www.studenthealth.ucla.edu/Lists/FAQs/CustDispForm.aspx?ID=197'"
      appExternalUrl>How do I get a referral?</a><br>
    </mat-radio-button>
		<br>
		<mat-radio-button value="no" class="button" (click)="no()">No</mat-radio-button>
	</mat-radio-group>
	<br />
	<a routerLink="{{router}}"><button mat-raised-button class="raised-button" [disabled]="disabled">Submit</button></a>
</div>
