<img src="./assets/images/appBanner@3x.png" alt="UCLA Student Health & Wellness Portal">
<form>
	<div id="ucshipLogin">
		<h2>UCSHIP HOLDERS</h2>
		<mat-form-field class="input-width">
			<input matInput placeholder="Email">
		</mat-form-field>
		<br>
		<mat-form-field class="input-width">
			<input matInput placeholder="Password">
		</mat-form-field>
	</div>
	<div class="button">
			<a routerLink="/home"><button mat-raised-button>Log in</button></a>
	</div>
</form>
<div class="continue">
	<p>Have UCSHIP but don't have an account yet?<br/>
	<a>Register here</a></p>
	<p>Don't have UCSHIP?<br />
	<a>Continue as a student</a></p>
</div>
