<h1 routerLink="/step1">Appointments</h1>

<p>
  Please choose a range of dates for the appointment.
</p>
<label>
  <mat-radio-button name="dates" (click)="appointment(1)"> Today</mat-radio-button>
</label>
<label>
  <input type="radio" name="dates" (click)="appointment(2)" [checked]="within"> Within <input type="number" [(ngModel)]="week" (click)="weeks()"> week(s)<br>
</label>
<label>
  <input type="radio" name="dates" (click)="appointment(3)"> Any avaliable dates<br>
</label>

<button routerLink="/outside" [disabled]="disabled" (click)= "setWeek()">Submit</button>
