<p>
  What is the purpose of your medical appointment?
</p>

<form action="">
  <input type="radio" name="purpose"> STI testing<br>
  <input type="radio" name="purpose"> UTI testing<br>
  <input type="radio" name="purpose"> Prescription refill<br>
  <input type="radio" name="purpose"> Immunization shots<br>
  <input type="radio" name="purpose"> Primary Care<br>
  <input type="radio" name="purpose"> Health clearance<br>
  <input type="radio" name="purpose"> Other reason<br>

<button routerLink="/step2">Submit</button>
</form>
