<h1 routerLink='/home'>Book an appointment</h1>

<p>
  What is the purpose of your medical appointment?
</p>
<div *ngIf="medical; else elseBlock">
  <mat-radio-group>

    <mat-radio-button *ngFor="let purpose of purposes" value="purpose" [checked] = "false" (click)="appointment(purpose)">{{purpose}}<br></mat-radio-button >

  </mat-radio-group>
  <button routerLink="/step2" [disabled]="disabled">Submit</button>
</div>
<ng-template #elseBlock>
  <input type="text" name="" (click)="onSelect()" [(ngModel)]="typed"><br>
  <button routerLink="/step2" [disabled]="disabled" (click)="appointment_()">Submit</button>
</ng-template>
