
<div class="banner">
		<h2><a routerLink="/available"><mat-icon class="icon">arrow_back</mat-icon></a>Appointment Confirmation</h2>
</div>
<div class="step">
	<p>Step 3 of 3</p>
	<h2>Confirm your appointment.</h2>
</div>
<div class="appointment-options">
	<h4>Date: Wednesday, 12/12/18</h4>
	<h4>Time: 10:30 AM</h4>
	<h4>With: Darie, Silvia</h4>
	<h4>Location: 1st Floor Ashe Center</h4>
	<h4>Reason: Primary Care</h4>
	<p>* If appointments are not cancelled in advance, a $20 Missed Appointment fee will be charged to your Bruin Bill Account</p>

	<a routerLink="/home"><button mat-raised-button class="button">Confirm</button></a>
</div>
